<%- include('partials/header') %>

<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <br>
        <h2>Questions</h2>
        <hr>

        <% questions.forEach(question => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <h4><%= question.title %></h4>
                    <br>
                    <p><%= question.description %></p>
                </div>
                <div class="card-footer">
                    <a href="/question/<%= question.id %>"><button class="btn btn-dark"
                        style="--bs-btn-padding-y: 0.45rem; --bs-btn-padding-x: 2.5rem; --bs-btn-font-size: 1rem;"
                        >Reply</button></a>
                </div>
            </div>
        
        
        <% }) %>
    
    </div>

    <%- include('partials/footer') %>
</body>